extends base.pug
block style 
	style 
		include ../static/login/login.css
block content
	nav#navbar.top
		ul      
			li TOUR INDIA 
		a(href ='welcome') agency
		a(href ='/logout') Logout
	div.head 
		h1 WELCOME TO TOUR INDIA 